<div class="panel panel-info">
    <div class="panel-heading" style="color: white; font-weight: 100;">
        Chatflix
        <span style="float:right;">
            <a style="color: white;"><i ng-click="addFriend()" class="fa fa-user-plus" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a style="color: white;"><i ng-click="goToChat()"
                                        style="padding-bottom: 3px; border-bottom: 1px solid white;"
                                        class="fa fa-weixin" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a style="color: white;"><i ng-click="goToFriends()" class="fa fa-users" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a style="color: white;"><i ng-click="settings()" class="fa fa-cog" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a tabindex="-1" style="color: white;"><i ng-click="logout()" class="fa fa-sign-out" aria-hidden="true"></i></a>
        </span>
    </div>
    <div class="panel-body"
         style="max-height:300px; padding-top: 0px !important; overflow-y: auto; word-wrap: break-word" scroll-glue>
        <ul class="media-list">
            <div ng-show="loading" class="text-center">
                <img src="assets/img/box.gif"/>
            </div>
            <li class="media" style="margin-top: 10px;">
                        <div class="media-body">
                        <div class="media">
                        <a class="pull-left">
                            <img class="media-object img-circle" style="width: 30px;"
                                 ng-src="{{result.profilePic}}"/>
                        </a>
                        <div class="media-body" style="font-size: 80%;">
                            <b style="font-family:Verdana;">{{result.username}}</b>
                            <br/>
                            <small class="text-muted"><i class="fa fa-circle" aria-hidden="true" style="color: #0C0;">
                            </i> <span style="font-family:Verdana;">Watching: {{result.watching}}</span>
                            </small>
                        </div>
                            <button ng-click="goToChat()" class="btn btn-default pull-right" style="margin-top: -30px;">
                                <i
                                        class="fa fa-times" aria-hidden="true"></i></button>
                                    <hr>

                        </div>
                </div>
            </li>
            <li class="media-body" ng-repeat="(key, convo) in conversations" style="font-family:Verdana;">
                <div class="media" ng-show="convo.value">
                    <div ng-show="convo.value == '[]{}[]{}[]--'" class="media-body"
                         style="font-size: 80%; margin-left: 50px; margin-bottom: 5px; margin-top: 5px;"
                         ng-show="convo.self">
                        <i>Friendship Accepted. <i class="fa fa-hand-peace-o fa-lg" style="margin-bottom: 10px;"
                                                   aria-hidden="true"></i></i>
                        <br/>
                    </div>
                    <a class="pull-left" ng-show="convo.self && convo.value != '[]{}[]{}[]--'">
                        <img class="media-object img-circle" style="width: 30px; margin-bottom: 5px;"
                             ng-src="{{profilePicS}}"/>
                    </a>
                    <div class="media-body" style="font-size: 80%; max-width: 180px; margin-bottom: 5px;"
                         ng-show="convo.self && convo.value != '[]{}[]{}[]--'">
                        {{convo.value}}
                        <br/>
                        <small class="text-muted">{{convo.timestamp}}</small>
                    </div>

                        <span class="pull-right">
                            <div style="font-size: 80%; margin-right:5px; margin-bottom: 5px; max-width: 180px; float:left;"
                                 ng-show="!convo.self && convo.value != '[]{}[]{}[]--'">
                                {{convo.value}}
                                <br/>
                                <small class="text-muted">{{convo.timestamp}}</small>
                            </div>
                            <div class="media-body" ng-show="!convo.self && convo.value != '[]{}[]{}[]--'"
                                 style="float:right">
                                <img class="media-object img-circle"
                                     style="width: 30px; margin-left: 5px; margin-bottom: 5px;"
                                     ng-src="{{profilePicNS}}"/>
                            </div>
                        </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <div ng-show="emoticons" style="margin-bottom: 5px;">
            <button style="outline: none; margin-left: 10px;" class="btn btn-default" ng-click="append(128512)"><span
                    style="margin-left: -3px;">&#128512;</span></button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128513;</span>
            </button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128514;</span>
            </button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128515;</span>
            </button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128516;</span>
            </button>
            <button style="outline: none; margin-left: 10px;" class="btn btn-default"><span style="margin-left: -3px;">&#128517;</span>
            </button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128518;</span>
            </button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128519;</span>
            </button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128520;</span>
            </button>
            <button style="outline: none" class="btn btn-default"><span style="margin-left: -3px;">&#128521;</span>
            </button>
        </div>
        <form ng-submit="sendMessage()">
            <input id="messageToBeSent" style="font-family:Verdana; float:left; width:190px; font-size: 70%;"
                   ng-model="message.content" type="text" class="form-control"
                   autofocus/>
            <button class="btn btn-default" style="outline: none; width: 20px;" type="button"><span
                    style="margin-left: -9px;" ng-click="emoticons = !emoticons;">&#128512;</span></button>
        </form>
    </div>
</div>
