<div class="panel panel-info">
    <div class="panel-heading" style="color: white; font-weight: 100;">
        Chatflix
        <span style="float:right;">
            <a style="color: white;"><i ng-click="addFriend()" class="fa fa-user-plus" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a style="color: white;"><i ng-click="goToChat()"
                                        style="padding-bottom: 3px; border-bottom: 1px solid white;"
                                        class="fa fa-weixin" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a style="color: white;"><i ng-click="goToFriends()" class="fa fa-users" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a style="color: white;"><i ng-click="settings()" class="fa fa-cog" aria-hidden="true"></i></a>
            &nbsp;&nbsp;
            <a tabindex="-1" style="color: white;"><i ng-click="logout()" class="fa fa-sign-out" aria-hidden="true"></i></a>
        </span>
    </div>
    <div class="panel-heading" style="background-color:white; font-weight: 100; border-bottom: 1px solid #ddd">
        <div style="margin-top: 10px;">
            <div class="media-body">
                <div class="media">
                    <a class="pull-left">
                        <img class="media-object img-circle" style="width: 30px;"
                             ng-src="{{result.profilePic}}"/>
                    </a>
                    <div class="media-body" style="font-size: 80%;">
                        <b style="font-family:Verdana; color:black;">{{result.username}}</b>
                        <br/>
                        <small class="text-muted"><i class="fa fa-circle" aria-hidden="true" style="color: #0C0;">
                        </i> <span style="font-family:Verdana;">Watching: {{result.watching}}The office</span>
                        </small>
                    </div>
                    <button ng-click="goToChat()" class="btn btn-default pull-right" style="margin-top: -30px;">
                        <i
                                class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body"
         style="max-height:300px; padding-top: 0px !important; overflow-y: auto; word-wrap: break-word" scroll-glue>
        <div ng-show="loading" class="text-center">
            <img src="assets/img/box.gif"/>
        </div>
        <ul class="media-list" style="margin-top: 10px;">
            <div ng-show="loading" class="text-center">
                <img src="assets/img/box.gif"/>
            </div>
            <li class="media-body" ng-repeat="(key, convo) in conversations" style="font-family:Verdana;">
                <div class="media" ng-show="convo.value">
                    <div ng-show="convo.value == '[]{}[]{}[]--'" class="media-body"
                         style="font-size: 80%; margin-left: 50px; margin-bottom: 5px; margin-top: 5px;"
                         ng-show="convo.self">
                        <i>Friendship Accepted. <i class="fa fa-hand-peace-o fa-lg" style="margin-bottom: 10px;"
                                                   aria-hidden="true"></i></i>
                        <br/>
                    </div>
                    <a class="pull-left" ng-show="convo.self && convo.value != '[]{}[]{}[]--'">
                        <img class="media-object img-circle" style="width: 30px; margin-bottom: 5px;"
                             ng-src="{{profilePicS}}"/>
                    </a>
                    <div class="media-body" style="font-size: 80%; max-width: 180px; margin-bottom: 5px;"
                         ng-show="convo.self && convo.value != '[]{}[]{}[]--'">
                        {{convo.value}}
                        <br/>
                        <small class="text-muted">{{convo.timestamp}}</small>
                    </div>

                        <span class="pull-right">
                            <div style="font-size: 80%; margin-right:5px; margin-bottom: 5px; max-width: 180px; float:left;"
                                 ng-show="!convo.self && convo.value != '[]{}[]{}[]--'">
                                {{convo.value}}
                                <br/>
                                <small class="text-muted">{{convo.timestamp}}</small>
                            </div>
                            <div class="media-body" ng-show="!convo.self && convo.value != '[]{}[]{}[]--'"
                                 style="float:right">
                                <img class="media-object img-circle"
                                     style="width: 30px; margin-left: 5px; margin-bottom: 5px;"
                                     ng-src="{{profilePicNS}}"/>
                            </div>
                        </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <div ng-show="emoticons" style="margin-bottom: 5px;">
            <span ng-click="append(128522)" style="font-size: 120%">&#128522;</span>
            <span ng-click="append(128516)" style="font-size: 120%">&#128516;</span>
            <span ng-click="append(128515)" style="font-size: 120%">&#128515;</span>
            <span ng-click="append(128521)" style="font-size: 120%">&#128521;</span>
            <span ng-click="append(128525)" style="font-size: 120%">&#128525;</span>
            <span ng-click="append(128536)" style="font-size: 120%">&#128536;</span>
            <span ng-click="append(128538)" style="font-size: 120%">&#128538;</span>
            <span ng-click="append(128524)" style="font-size: 120%">&#128524;</span>
            <span ng-click="append(128513)" style="font-size: 120%">&#128513;</span>
            <span ng-click="append(128540)" style="font-size: 120%">&#128540;</span>
            <span ng-click="append(128541)" style="font-size: 120%">&#128541;</span>
            <span ng-click="append(128530)" style="font-size: 120%">&#128530;</span>

            <span ng-click="append(128527)" style="font-size: 120%">&#128527;</span>
            <span ng-click="append(128531)" style="font-size: 120%">&#128531;</span>
            <span ng-click="append(128532)" style="font-size: 120%">&#128532;</span>
            <span ng-click="append(128542)" style="font-size: 120%">&#128542;</span>
            <span ng-click="append(128549)" style="font-size: 120%">&#128549;</span>
            <span ng-click="append(128560)" style="font-size: 120%">&#128560;</span>
            <span ng-click="append(128552)" style="font-size: 120%">&#128552;</span>
            <span ng-click="append(128547)" style="font-size: 120%">&#128547;</span>

            <span ng-click="append(128546)" style="font-size: 120%">&#128546;</span>
            <span ng-click="append(128557)" style="font-size: 120%">&#128557;</span>
            <span ng-click="append(128514)" style="font-size: 120%">&#128514;</span>
            <span ng-click="append(128562)" style="font-size: 120%">&#128562;</span>
            <span ng-click="append(128561)" style="font-size: 120%">&#128561;</span>
            <span ng-click="append(128544)" style="font-size: 120%">&#128544;</span>
            <span ng-click="append(128545)" style="font-size: 120%">&#128545;</span>
            <span ng-click="append(128554)" style="font-size: 120%">&#128554;</span>

            <span ng-click="append(128567)" style="font-size: 120%">&#128567;</span>
            <span ng-click="append(128125)" style="font-size: 120%">&#128125;</span>
            <span ng-click="append(128148)" style="font-size: 120%">&#128148;</span>
            <span ng-click="append(128152)" style="font-size: 120%">&#128152;</span>
            <span ng-click="append(127775)" style="font-size: 120%">&#127775;</span>
            <span ng-click="append(128164)" style="font-size: 120%">&#128164;</span>
            <span ng-click="append(128168)" style="font-size: 120%">&#128168;</span>
            <span ng-click="append(128166)" style="font-size: 120%">&#128166;</span>

            <span ng-click="append(127926)" style="font-size: 120%">&#127926;</span>
            <span ng-click="append(128293)" style="font-size: 120%">&#128293;</span>
            <span ng-click="append(128169)" style="font-size: 120%">&#128169;</span>
            <span ng-click="append(128077)" style="font-size: 120%">&#128077;</span>
            <span ng-click="append(128078)" style="font-size: 120%">&#128078;</span>
            <span ng-click="append(128076)" style="font-size: 120%">&#128076;</span>
            <span ng-click="append(128074)" style="font-size: 120%">&#128074;</span>
            <span ng-click="append(128075)" style="font-size: 120%">&#128075;</span>

            <span ng-click="append(128080)" style="font-size: 120%">&#128080;</span>
            <span ng-click="append(128070)" style="font-size: 120%">&#128070;</span>
            <span ng-click="append(128071)" style="font-size: 120%">&#128071;</span>
            <span ng-click="append(128073)" style="font-size: 120%">&#128073;</span>
            <span ng-click="append(128072)" style="font-size: 120%">&#128072;</span>
            <span ng-click="append(128588)" style="font-size: 120%">&#128588;</span>
        </div>
        <form ng-submit="sendMessage()" autocomplete="off">
            <input id="messageToBeSent" style="float:left; width:190px; font-size: 80%; font-family:Verdana;"
                   ng-model="message.content" type="text" class="form-control" ng-init="message.content=''"
                   autofocus/>
            <button ng-click="emoticons = !emoticons;" class="btn btn-default" style="outline: none; width: 20px;" type="button"><span
                    style="margin-left: -9px;" >&#128512;</span></button>
        </form>
    </div>
</div>
