<div class="panel panel-info">
    <div class="panel-heading" style="color: white; font-weight: 100;">
        Chatflix<span style="float:right"><i ng-click="addFriend()"
                                             style="padding-bottom: 3px; border-bottom: 3px dotted white;"
                                             class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i
            ng-click="goToChat()" class="fa fa-weixin" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i
            ng-click="goToFriends()" class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i
            ng-click="settings()" class="fa fa-cog" aria-hidden="true"></i>
&nbsp;&nbsp;&nbsp;&nbsp;<i ng-click="logout()" class="fa fa-sign-out" aria-hidden="true"></i></span>
    </div>
    <div class="panel-body" style="max-height:300px; overflow-y: auto;">
        <ul class="media-list">
            <div class="media-body">
                <form>

                    <div class="form-group">
                        <label for="friendSearch">Search by email address</label>
                        <input type="email" class="form-control" id="friendSearch" placeholder="Email"
                               ng-model="search">
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="text-center">
                            <button ng-click="searchFriend(search)" type="button" class="btn btn-default navbar-btn">
                                Submit
                            </button>
                        </a>
                    </div>
                </form>
            </div>
            <br>
            <ul class="media-list">
                <li class="media" ng-repeat="(key, data) in result track by $index">
                    <div class="media-body">
                        <div>
                            <a class="pull-left" style="padding-top:10px">
                                <img class="media-object img-circle" style="width: 30px;" ng-src="{{data.profilePic}}"/>
                            </a>
                            <div style="font-size: 80%;">
                                <span style="padding-left:5px" class="text-left">{{data.name}}</span>
                                <span class="text-right">
                                    <button ng-click="addFriend(data.name, data.profilePic)" type="button"
                                            class="text-right btn btn-default navbar-btn">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </ul>
    </div>
</div>