<div class="panel panel-info">
    <div class="panel-heading" style="color: white; font-weight: 100;">
        Chatflix
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <a class="text-center">
                    <button ng-click="goToNewAccount()" type="button" class="btn btn-default navbar-btn">Create an
                        account
                    </button>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 text-center">
                <a class="text-center">
                    <button ng-click="goToLogin()" type="button" class="btn btn-default navbar-btn">Sign in</button>
                </a>
            </div>
        </div>
    </div>
</div>

