<div class="panel panel-info">
    <div class="panel-heading" style="color: white; font-weight: 100;">
        Chatflix
    </div>
    <div class="panel-body">
        <form>
            <h5 style="color: red"> Are you sure? This is irreversible.</h5>
            <i>Please login to validate your account.</i>
            <div class="form-group">
                <br>
                <label for="deleteEmail">Email address</label>
                <input type="email" class="form-control" id="deleteEmail" placeholder="Email"
                       ng-model="user.delete.email">
            </div>
            <div class="form-group">
                <label for="deletePassword">Password</label>
                <input type="password" class="form-control" id="deletePassword" placeholder="Password"
                       ng-model="user.delete.password">
                <br>
            </div>
            <button type="submit" ng-click="changeEmail(user)" class="btn btn-default">Delete</button>
            <button type="submit" ng-click="cancel()" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>