<div class="panel panel-info">
    <div class="panel-heading" style="color: white; font-weight: 100; margin-bottom: 5px;"">
        Chatflix
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="existingEmail">Email address</label>
                <input type="email" class="form-control" id="existingEmail" placeholder="Email"
                       ng-model="user.reset.email">
            </div>
            <button type="submit" ng-click="resetPassword(user)" class="btn btn-default">Reset password</button>
            <button type="submit" ng-click="cancel()" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>