<div class="panel panel-info">
    <div class="panel-heading" style="color: white; font-weight: 100;">
        Chatflix
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="existingEmail">Email address</label>
                <input type="email" class="form-control" id="existingEmail" placeholder="Email"
                       ng-model="user.passwordChange.email">
            </div>
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Password"
                       ng-model="user.passwordChange.oldPassword">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Password"
                       ng-model="user.passwordChange.newPassword">
            </div>
            <button type="submit" ng-click="resetPassword(user)" class="btn btn-default">Reset Password</button>
            <button type="submit" ng-click="cancel()" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>